/* body{
    overflow-y: hidden;
}

.animacao{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: ex;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

@keyframes ex{
    from{background-color: red;} to {background-color: yellow;}
    0%{ background-color: red; transform: translate(0,0) rotate(360deg);}
    25%{background-color: blue; transform: translate(1300px,0);}
    50%{background-color: green; transform: translate(1300px,500px) rotate(360deg);}
    75%{background-color: yellow; transform: translate(0,500px);}
    100%{background-color: red; transform: translate(0,0) rotate(360deg);}
} 
*/

body{
    overflow-x: hidden;
}

.animacao{
    width: 100px;
    height: 100px;
    animation-name: ex;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    animation-timing-function: linear;
}

@keyframes ex{
    /* from{background-color: red;} to {background-color: yellow;} */
    0%{transform: translatex(-200px) scaleX(1);}
    50%{transform: translatex(1600px) scaleX(1);}
    50.1%{transform: translatex(1600px) scaleX(-1);}
    100%{transform: translatex(-200px) scalex(-1);}

}

/* 0% {
    left: -400px;
    transform: scaleX(1);
  }
  50% {
    left: calc(130% - 150px);
    transform: scaleX(1);
  }
  50.01% {
    transform: scaleX(-1);
  }
  100% {
    left: -400px;
    transform: scaleX(-1);
  } */