:root{
    --marrom-escuro: rgb(35, 30, 24);
    --preto: rgb(7, 3, 7);
    --branco: rgb(255, 255, 255);
    --amarelo: rgb(255, 181, 7);
    --cinza: rgb(65, 65, 65);
}

body {
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: normal;
    font-style: normal;
    color: var(--preto);
    /*background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);*/
}

div#interface {
    width: 1300px;
    margin: 0 auto;
}

.titulo1 {
    color: var(--branco);
    font-size: 32px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #253526;
    height: 60px;
    padding: 10px;
}

.logo {
    float: left
}

.logo img {
    width: 60px;
    vertical-align: middle;
}

.social {
    float: right;
    padding-top: 10px;
    padding-bottom: 15px;
}

.social img {
    width: 24px;
}

.menu {
    background-color: var(--cinza);
    height: 40px;
}

.menu ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
}

.menu li {
    display: inline;
}

.menu a {
    color: var(--branco);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px;
    transition: all 1.5s;
}

.menu a:hover {
    border-radius: 10px;
    color: var(--preto);
    background-color: var(--amarelo);
}

.banner {
    background-image: url(../imagens/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
    height: 500px;
}

.banner p {
    color: white;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
    text-shadow: 2px 2px 4px black;
}

.missao {
    padding: 75px 75px;
}

.titulo2 {
    font-size: 35px;
    text-align: center;
}

.missao p {
    font-size: 22px;
    text-align: center;
    line-height: 30px;
}

.missao span {
    color: rgb(18, 124, 25);
    font-weight: bold;
}

.alerta {
    --bg-alerta: rgb(131, 100, 60);
    /* --amarelo: rgb(9, 69, 255); */
    display: flex;
    text-align: center;
    background-color: var(--bg-alerta);
    border-top: solid 15px var(--marrom-escuro);
    border-bottom: solid 15px var(--marrom-escuro);
    color: var(--branco);
    height: 350px;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
}

.alerta figure {
    /* float: left; */
    width: 325px;
    margin: 0px;
    padding: 15px 20px 0px;
    position: relative;
    height: 310px;
    box-sizing: border-box;
}

.alerta a {
    text-decoration: none;
    color: black;
    background-color: var(--amarelo);
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 31.5%;
}

.renovavel {
    float: left;
    width: 900px;
    border-right: 2px solid var(--marrom-escuro);
    padding-right: 10px;
}

.renovavel p {
    font-size: 18px;
    text-align: justify;
}

.renovavel figure {
    margin: 15px 24px;
    /* float: left; */
    border: 1px solid var(--preto);
    padding: 10px;
}

.renovavel figure img {
    opacity: 50%;
    transition: opacity 0.8s;
}

.renovavel figure:hover img {
    opacity: 100%;
}

.renovavel div {
    display: flex;
    flex-wrap: wrap;
}

.lateral {
    float: right;
    width: 380px;
}

.lateral img {
    width: 50%;
    float: left;
    padding-right: 10px;
}

.lateral a {
    text-decoration: none;
    color: var(--preto);
}

.rodape {
    height: 50px;
    background-color: rgb(30,30,24) ;
    clear: both;
    color: var(--branco);
    padding: 20px 50px;
}
.rodape img{
    float: left;
}
.rodape p{
    float: right;
}
